.container {
    display: grid;
    grid-template-columns: 1fr; /* Один столбец */
    justify-items: center; /* Выравнивание по центру */
    gap: 10px; /* Расстояние между элементами */
    align-items: center;
    text-align: center;
    .container {
        margin: 0 auto; /* Центрируем контейнер */
        max-width: 1200px; /* Максимальная ширина контейнера */
    }

}

.label {
    /*float: left;*/
    margin-top: 50px;
    justify-content: flex-start;

}

.admin_text {
    float: right;
    font-weight: bold;
}

.users {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 250px;
}

.supervisor, .curator, .teacher, .child {
    margin-bottom: 20px; /* Отступ между кнопками */
}

button {
    height: 50px; /* Высота кнопки */
    width: 100%; /* Сделать кнопку шириной 100% от контейнера */
    font-size: 16px; /* Размер шрифта */
    border: 2px solid #ccc; /* Серый цвет рамки */
    border-radius: 8px;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.3s; /* Анимация */
    outline: none; /* Убираем обводку при фокусе */
}

button:hover {
    border-color: #28a745; /* Тень */
    box-shadow: 0 4px 8px rgba(78, 74, 145, 1);; /* Тень */
}
